.navigation {
  background-color: #222831;
  height: 6.25rem;
  color: #fff;
  font-size: 2.5rem;
  border-bottom: 1px solid #393E46;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 6.25rem;
}

.navigation ul li {
  list-style-type: none;
}

.navigation a {
  color: #fff;
}
